# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
*.out
*.err

# Misc
*.tgz
*.zip
*.tar.gz
*.pid
*.seed

# Ignore backend repo (handled separately later)
src/backend/

# Node.js dependencies
node_modules/

# Next.js build output
.next/
